body {
    background-image: url("images/achtergrond.jpg");
}

.rood {
    color: red;
}

.blauw {
    color: blue;
}

.groen {
    color: green;
}

.black {
    background-color: black;
    color: aliceblue;
}

.red {
    background-color: red;
}

.Green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.white {
    background-color: white;
}

#hoofding {
    background-color: blue;
    text-align: center;
}

#menu {
    background-color: green;
    text-align: left;
    display: inline-block;
    width: 48%;
}
#info {
    background-color: red;
    text-align: right;
    display: inline-block;
    width: 51%;
}

#voettekst {
    background-color: yellow;
    text-align: center;
}

header {
    background-color: blue;
    text-align: center;
}

nav{
    background-color: green;
    display: inline-block;
    width: 49%;
}

section {
    background-color: red;
    display: inline-block;
    width: 50%;
}

footer {
    background-color: yellow;
    text-align: center;
}

h1 {
    color: blue;
    font-weight: bold;
    text-align: center;
    font-size: 80px;
}
