body {
    background-image: url("images/achtergrond.jpg");
}

.rood {
    color: red;
}

.blauw {
    color: blue;
}

.groen {
    color: green;
}

h1 {
    color: blue;
    font-weight: bold;
    text-align: center;
    font-size: 80px;
}